<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceThrottling maxConcurrentSessions="1000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServices" portSharingEnabled="true" maxReceivedMessageSize="1048576" maxBufferSize="1048576" maxBufferPoolSize="1048576">
          <security mode="None" />
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="mexBehavior" name="Server.Services.ServiceChatForNonCallbackMethods">
        <endpoint address="ServiceChatForNonCallbackMethods" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServices" contract="Server.ServiceContracts.IChatNotCallbackMethods" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8010" />
            <add baseAddress="net.tcp://localhost:8020" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="mexBehavior" name="Server.Services.ServiceChatForCallbackMethods">
        <endpoint address="ServiceChatForCallbackMethods" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServices" contract="Server.ServiceContracts.IChatCallbackMethods" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8030" />
            <add baseAddress="net.tcp://localhost:8040" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="mexBehavior" name="Server.Services.ServiceFriendRequestForNonCallbackMethods">
        <endpoint address="ServiceFriendRequestForNonCallbackMethods" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServices" contract="Server.ServiceContracts.IFriendRequestNonCallbackMethods" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8050" />
            <add baseAddress="net.tcp://localhost:8060" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="mexBehavior" name="Server.Services.ServiceFriendRequestForCallbackMethods">
        <endpoint address="ServiceFriendRequestForCallbackMethods" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServices" contract="Server.ServiceContracts.IFriendRequestCallbackMethods" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8070" />
            <add baseAddress="net.tcp://localhost:8080" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="mexBehavior" name="Server.Services.ServiceLobbyForNonCallbackMethods">
        <endpoint address="ServiceLobbyForNonCallbackMethods" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServices" contract="Server.ServiceContracts.ILobbyNonCallbackMethods" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8090" />
            <add baseAddress="net.tcp://localhost:8100" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="mexBehavior" name="Server.Services.ServiceLobbyForCallbackMethods">
        <endpoint address="ServiceLobbyForCallbackMethods" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServices" contract="Server.ServiceContracts.ILobbyCallbackMethods" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8110" />
            <add baseAddress="net.tcp://localhost:8120" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="mexBehavior" name="Server.Services.ServiceMultiplayerCrosswordForNonCallbackMethods">
        <endpoint address="ServiceMultiplayerCrosswordForNonCallbackMethods" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServices" contract="Server.ServiceContracts.IMultiplayerCrosswordNonCallbackMethods" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8130" />
            <add baseAddress="net.tcp://localhost:8140" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="mexBehavior" name="Server.Services.ServiceMultiplayerCrosswordForCallbackMethods">
        <endpoint address="ServiceMultiplayerCrosswordForCallbackMethods" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServices" contract="Server.ServiceContracts.IMultiplayerCrosswordCallbackMethods" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8150" />
            <add baseAddress="net.tcp://localhost:8160" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="mexBehavior" name="Server.Services.ServicePlayer">
        <endpoint address="ServicePlayer" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServices" contract="Server.ServiceContracts.IPlayer" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8170" />
            <add baseAddress="net.tcp://localhost:8180" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="mexBehavior" name="Server.Services.ServiceProfileForNonCallbackMethods">
        <endpoint address="ServiceProfileForNonCallbackMethods" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServices" contract="Server.ServiceContracts.IProfileNonCallbackMethods" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8190" />
            <add baseAddress="net.tcp://localhost:8200" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="mexBehavior" name="Server.Services.ServiceProfileForCallbackMethods">
        <endpoint address="ServiceProfileForCallbackMethods" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServices" contract="Server.ServiceContracts.IProfileCallbackMethods" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8210" />
            <add baseAddress="net.tcp://localhost:8220" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
	  
  <add name="RenovaciónLISDatabaseContainer" connectionString="metadata=res://*/DatabaseManager.RenovaciónLISDatabase.csdl|res://*/DatabaseManager.RenovaciónLISDatabase.ssdl|res://*/DatabaseManager.RenovaciónLISDatabase.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-BO77JF9\SQLEXPRESS;initial catalog=&quot;Renovación LIS&quot;;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>