<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<client>
   <endpoint address="net.tcp://localhost:8040/ServiceFriendRequest"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFriendRequest"
    contract="ServiceFriendRequestReference.IFriendRequest" name="NetTcpBinding_IFriendRequest" />
   <endpoint address="net.tcp://localhost:8080/ServicePlayer" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IPlayer" contract="ServicePlayerReference.IPlayer"
    name="NetTcpBinding_IPlayer" />
   <endpoint address="net.tcp://localhost:8100/ServiceProfile" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IProfile" contract="ServiceProfileReference.IProfile"
    name="NetTcpBinding_IProfile" />
  </client>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IFriendRequest">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IPlayer">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IProfile">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
	</system.serviceModel>
</configuration>