<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceThrottling maxConcurrentSessions="100" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_IServices" portSharingEnabled="true"
						 maxReceivedMessageSize="1048576" maxBufferSize="1048576" maxBufferPoolSize="1048576">
					<security mode="None" />
					<reliableSession enabled="true"/>
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="mexBehavior" name="ServicesTCP.Services.ServiceChat">
				<endpoint address="ServiceChat"
						  binding="netTcpBinding"
						  bindingConfiguration="NetTcpBinding_IServices"
						  contract="ServicesTCP.ServiceContracts.IChat"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://192.168.100.11:8010" />
						<add baseAddress="net.tcp://192.168.100.11:8020" />
					</baseAddresses>
				</host>
			</service>
			
			
			<service behaviorConfiguration="mexBehavior" name="ServicesTCP.Services.ServiceFriendRequest">
				<endpoint address="ServiceFriendRequest"
						  binding="netTcpBinding"
						  bindingConfiguration="NetTcpBinding_IServices"
						  contract="ServicesTCP.ServiceContracts.IFriendRequest"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://192.168.100.11:8050" />
						<add baseAddress="net.tcp://192.168.100.11:8060" />
					</baseAddresses>
				</host>
			</service>

			
			<service behaviorConfiguration="mexBehavior" name="ServicesTCP.Services.ServiceFriendRequestForCallbackMethods">
				<endpoint address="ServiceFriendRequest"
						  binding="netTcpBinding"
						  bindingConfiguration="NetTcpBinding_IServices"
						  contract="ServicesTCP.ServiceContracts.IFriendRequestForCallbackMethods"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://192.168.100.11:8070" />
						<add baseAddress="net.tcp://192.168.100.11:8080" />
					</baseAddresses>
				</host>
			</service>
				
			
			<service behaviorConfiguration="mexBehavior" name="ServicesTCP.Services.ServicePlayer">
				<endpoint address="ServicePlayer" 
						  binding="netTcpBinding"
						  bindingConfiguration="NetTcpBinding_IServices"
						  contract="ServicesTCP.ServiceContracts.IPlayer"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://192.168.100.11:8090" />
						<add baseAddress="net.tcp://192.168.100.11:8100" />
					</baseAddresses>
				</host>
			</service>
			
			
			<service behaviorConfiguration="mexBehavior" name="ServicesTCP.Services.ServiceProfile">
				<endpoint address="ServiceProfile"
						  binding="netTcpBinding"
						  bindingConfiguration="NetTcpBinding_IServices"
						  contract="ServicesTCP.ServiceContracts.IProfile"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://192.168.100.11:8110" />
						<add baseAddress="net.tcp://192.168.100.11:8120" />
					</baseAddresses>
				</host>
			</service>


			<service behaviorConfiguration="mexBehavior" name="ServicesTCP.Services.ServiceProfileForCallbackMethods">
				<endpoint address="ServiceProfileForCallbackMethods"
						  binding="netTcpBinding"
						  bindingConfiguration="NetTcpBinding_IServices"
						  contract="ServicesTCP.ServiceContracts.IProfileForCallbackMethods"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://192.168.100.11:8130" />
						<add baseAddress="net.tcp://192.168.100.11:8140" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
	<add name="DatabaseManager.Properties.Settings.Renovación_LISConnectionString" connectionString="Data Source=DESKTOP-CL4NIMP;Initial Catalog=&quot;Renovación LIS&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
	<add name="DatabaseModelContainer" connectionString="metadata=res://*/DatabaseModel.csdl|res://*/DatabaseModel.ssdl|res://*/DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-CL4NIMP;initial catalog=&quot;Renovación LIS&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
	<add name="Renovación_LISEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-CL4NIMP;initial catalog=&quot;Renovación LIS&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>