<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IPlayer">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
  <client>
   <endpoint address="net.tcp://localhost:8030/ServicePlayer" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IPlayer" contract="ServicePlayerReference.IPlayer"
    name="NetTcpBinding_IPlayer">
    <identity>
     <userPrincipalName value="DESKTOP-CL4NIMP\wmike" />
    </identity>
   </endpoint>
  </client>
  <services>
			<service name="Services.Services.ServicePlayer">
				<endpoint address="" binding="basicHttpBinding"  contract="Services.Services.ServicePlayer" />
			</service>
		</services>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
</configuration>