<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseManager.Properties.Settings.Renovación_LISConnectionString" connectionString="Data Source=DESKTOP-CL4NIMP;Initial Catalog=&quot;Renovación LIS&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DatabaseModelContainer" connectionString="metadata=res://*/DatabaseModel.csdl|res://*/DatabaseModel.ssdl|res://*/DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-CL4NIMP;initial catalog=&quot;Renovación LIS&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>